@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados pequeños */
:root {
  --brand: #2dbe60;
  --accent: #ffc646;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
